<!DOCTYPE html>
<html>
  <head>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <meta charset="utf-8">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//m.haomoney.com">
    <script>window.currentPoker = {{{ htmlWebpackPlugin.options.currentPoker }}}</script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>